/* body{
    margin: 0;
    padding: 0;
    background-color: #2f3542;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
} */
#s12{
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated-text{
    font-size: 4rem;
    font-weight: 600;
    min-width: 280px;
    height: 6rem;
    width: 80%;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Shubham";
    color: #ff7f50;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 6rem;
    background-color: #282c35;
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "Shubham";
    }
    21%,40%{
        content: "Developer";
    }
    41%,60%{
        content: "Photographer";
    }
    61%,80%{
        content: "Designer";
    }
    81%,100%{
        content: "Gamer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}